@model eCommerce.MvcWebUI.Models.ProductViewModel
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Ürün Listesi</h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>Ürün Adı</th>
                        <th>Ürün Açıklama</th>
                        <th>Durumu</th>
                        <th>Resim</th>
                        <th>Düzenle</th>
                        <th>Sil</th>
                    </tr>
                    @foreach (var product in Model.Products.ToList())
                    {
                        <tr>
                            <td>@product.ProductName</td>
                            <td>@product.ProductDescription</td>
                            <td><span class="label label-success">Aktif</span></td>
                            <td><i class="fa fa-eye-slash"></i></td>
                            <td><i class="fa fa-edit"></i></td>
                            <td><i class="fa fa-trash"></i></td>
                        </tr>
                    }
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    @*@Html.Pager(Model.PagingInfo)*@
</div>