
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Anasayfa | E-Ticaret</title>

    <link href="~/Content/eCommerceUI/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/eCommerceUI/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/eCommerceUI/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/eCommerceUI/css/price-range.css" rel="stylesheet">
    <link href="~/Content/eCommerceUI/css/animate.css" rel="stylesheet">
    <link href="~/Content/eCommerceUI/css/main.css" rel="stylesheet">
    <link href="~/Content/eCommerceUI/css/responsive.css" rel="stylesheet">

    @*<link rel="shortcut icon" href="images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">*@
</head><!--/head-->
<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +90 (537) 552 44 24</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@ugraknoktaniz.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="~/Content/eCommerceUI/images/home/logo.png" alt="" /></a>
                        </div>
                        <div class="btn-group pull-right clearfix">
                         
                        </div>
                    </div>
                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-user"></i> Hesap</a></li>
                                <li><a href=""><i class="fa fa-star"></i> Favoriler</a></li>
                                <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Ödeme</a></li>
                                <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Sepet(<b>5</b>)</a></li>
                                <li><a href="login.html"><i class="fa fa-lock"></i> Üye Girişi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="index.html" class="active">Anasayfa</a></li>
                                @*  <li class="dropdown">
                                        <a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                        <ul role="menu" class="sub-menu">
                                            <li><a href="shop.html">Products</a></li>
                                            <li><a href="product-details.html">Product Details</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="login.html">Login</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                        <ul role="menu" class="sub-menu">
                                            <li><a href="blog.html">Blog List</a></li>
                                            <li><a href="blog-single.html">Blog Single</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="404.html">404</a></li>*@
                                <li><a href="contact-us.html">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->




    @RenderBody()


    <footer id="footer">


        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Hizmet</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Canlı Yardım</a></li>
                                <li><a href="#">Bize Ulaş</a></li>
                                <li><a href="#">Sipariş Durumu</a></li>
                                <li><a href="#">Değişim Yerleri</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Hızlı Alışveriş</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">T-Shirt</a></li>
                                <li><a href="#">Erkek</a></li>
                                <li><a href="#">Kadın</a></li>
                                <li><a href="#">Hediyelik Eşyalar</a></li>
                                <li><a href="#">Ayakkabılar</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Hizmet Politikası</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Kullanım Şartları</a></li>
                                <li><a href="#">Gizlilik Politikası</a></li>
                                <li><a href="#">Geri Ödeme Politikası</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Hakkımızda</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Firma Bilgileri</a></li>
                                <li><a href="#">Kariyer</a></li>
                                <li><a href="#">Mağaza Konumları</a></li>
                                <li><a href="#">Ortaklık Programı</a></li>
                                <li><a href="#">Telif Hakkı</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="single-widget">
                            <h2>UğrakNoktanız Hakkında</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="E-Mail adresinizi giriniz..." />
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                <p>İndirim ve tekliflerden haberdar olmak için üye olun...</p>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2018.Tüm hakları saklıdır.</p>
                    <p class="pull-right">Designed by <span><a target="_blank" href="#">Burak Kartal</a></span></p>
                </div>
            </div>
        </div>

    </footer><!--/Footer-->



    <script src="~/Content/eCommerceUI/js/jquery.js"></script>
    <script src="~/Content/eCommerceUI/js/bootstrap.min.js"></script>
    <script src="~/Content/eCommerceUI/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/eCommerceUI/js/price-range.js"></script>
    <script src="~/Content/eCommerceUI/js/jquery.prettyPhoto.js"></script>
    <script src="~/Content/eCommerceUI/js/main.js"></script>
</body>
</html>