<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>   
    <add name="eCommerce.WebUI.Properties.Settings.DefaultConnectionString"
      connectionString="Server=BURAKKARTAL\SQLSERVER;Database=eCommerce;UID=ecommerce;PWD=kartal18;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>